<!DOCTYPE html>
@using Sharpsolutions.Edt.Web.Core
<html ng-app="EdtApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Elite: Dangerous - Trading App</title>
    @Styles.Render(Bundles.Styles.Inspinia)
    <meta name="description" content="Elite: Dangerous Trading assistent" />
    <base href="@Url.Content("~")" />
</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <div ng-include="'app/views/common/navigation.html'"></div>

        <!-- Page wraper -->
        <!-- ng-class with current state name give you the ability to extended customization your view -->
        <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

            <!-- Page wrapper -->
            <div ng-include="'app/views/common/topnavbar.html'"></div>

            <!-- Main view  -->
            <div ui-view></div>

            <!-- Footer -->
            <div ng-include="'app/views/common/footer.html'"></div>

        </div>
        <!-- End page wrapper-->

    </div>



    @Scripts.Render(Bundles.Scripts.JQuery)
    @Scripts.Render(Bundles.Scripts.Bootstrap)
    @Scripts.Render(Bundles.Scripts.AngularJs)
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/ui-bootstrap-tpls-0.11.0.min.js"></script>

    @Scripts.Render(Bundles.Scripts.MetisMenu)
    @Scripts.Render(Bundles.Scripts.Pace)
    @Scripts.Render(Bundles.Scripts.SlimScroll)

    @Scripts.Render(Bundles.Scripts.EdtApp)
    
</body>
</html>
